<%- include('../partials/header') %>

<h1>Админская панель</h1>

<ul>
    <li><a href="/admin/news">Управление новостями</a></li>
    <li><a href="/admin/applications">Заявки поступления</a></li>
    <li><a href="/admin/programs">Программы обучения</a></li>
    <li><a href="/admin/teachers">Преподаватели</a></li>
    <li><a href="/admin/schedule">Расписание</a></li>
    <li><a href="/admin/achievements">Достижения</a></li>
    <li><a href="/admin/contacts">Контакты</a></li>
</ul>

<a href="/">← Назад на сайт</a>

<%- include('../partials/footer') %>
