<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav>
    <ul class="nav">
        <li><a href="/">Главная</a></li>
        <li><a href="/news">Новости</a></li>
        <li><a href="/about">О школе</a></li>
        <li><a href="/programs">Программы</a></li>
        <li><a href="/contacts">Контакты</a></li>
        <% if (session.user?.is_admin) { %>
            <li><a href="/admin">Админка</a></li>
        <% } %>
        <% if (session.user) { %>
            <li>Привет, <%= session.user.email %>!</li>
            <li><a href="/auth/logout">Выход</a></li>
        <% } else { %>
            <li><a href="/auth/login">Вход</a></li>
            <li><a href="/auth/register">Регистрация</a></li>
        <% } %>

    </ul>
</nav>
