<%- include('../../partials/header') %>

<h1>Добавить педагога</h1>
<form action="/admin/teachers/add" method="POST">
    <label>Имя:<br><input type="text" name="name" required></label><br><br>
    <label>Биография:<br><textarea name="bio" rows="6" cols="60" required></textarea></label><br><br>
    <button type="submit">Добавить</button>
</form>
<a href="/admin/teachers">← Назад</a>

<%- include('../../partials/footer') %>
