<%- include(partials + '/header') %>

<h1>Добавить контакт</h1>

<form action="/admin/contacts/add" method="POST">
    <label>Название*: <input type="text" name="title" required></label><br>
    <label>Телефон: <input type="text" name="phone"></label><br>
    <label>Email: <input type="email" name="email"></label><br>
    <label>Соцсети: <textarea name="social"></textarea></label><br>
    <label>Адрес: <textarea name="address"></textarea></label><br>
    <button type="submit">Сохранить</button>
</form>

<a href="/admin/contacts">← Назад</a>

<%- include(partials + '/footer') %>
