<%- include('../../partials/header') %>

<h1>Добавить достижение</h1>
<form action="/admin/achievements/add" method="POST">
    <label>Заголовок:<br><input type="text" name="title" required></label><br><br>
    <label>Описание:<br><textarea name="description" rows="5" cols="60"></textarea></label><br><br>
    <label>Дата:<br><input type="date" name="date"></label><br><br>
    <button type="submit">Сохранить</button>
</form>
<a href="/admin/achievements">← Назад</a>
<%- include('../../partials/footer') %>
