<%- include('../partials/header') %>

<h1>Заявка отправлена!</h1>
<p>Спасибо, ваша заявка успешно принята. Мы свяжемся с вами в ближайшее время.</p>

<a href="/" class="btn">На главную</a>

<%- include('../partials/footer') %>
