<%- include(partials + '/header') %>

<main class="application-response">
    <h1 class="application-response__title">Заявка отправлена!</h1>
    <p class="application-response__message">Спасибо, ваша заявка успешно принята. Мы свяжемся с вами в ближайшее время.</p>
    <a href="/" class="cta__button application-response__button">На главную</a>
</main>

<%- include(partials + '/footer') %>
